@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1681624034960') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohang:before {
  content: "\e651";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-yuangong:before {
  content: "\e64e";
}

.icon-name:before {
  content: "\e6b4";
}

.icon-iconmoban:before {
  content: "\e631";
}

.icon-jiage:before {
  content: "\e63f";
}

.icon-weizhi:before {
  content: "\e610";
}

.icon-gongsimingcheng:before {
  content: "\e60b";
}

.icon-lianjie1:before {
  content: "\e64b";
}

.icon-weizhi1:before {
  content: "\e8ff";
}

.icon-daohang1:before {
  content: "\e900";
}

.icon-yuangongguanli:before {
  content: "\e60a";
}

.icon-baoming:before {
  content: "\e642";
}

.icon-chakan:before {
  content: "\e544";
}

.icon-jiagechaxun:before {
  content: "\e65d";
}

.icon-dizhixinxi:before {
  content: "\e620";
}

.icon-weizhi2:before {
  content: "\e633";
}

.icon-daohang2:before {
  content: "\eaf2";
}

.icon-daohang_o:before {
  content: "\eb74";
}

.icon-jiage1:before {
  content: "\e60e";
}

.icon-charulianjie:before {
  content: "\ec7f";
}

.icon-jiaxiao:before {
  content: "\e6aa";
}

.icon-baomingguanli:before {
  content: "\e605";
}

.icon-weizhi3:before {
  content: "\e76f";
}

.icon-shangpinjiagexinxi:before {
  content: "\e62a";
}

.icon-xiangqing:before {
  content: "\e715";
}

.icon-map:before {
  content: "\e606";
}

.icon-xiangqing1:before {
  content: "\e66b";
}

.icon-xiangqing2:before {
  content: "\e611";
}

.icon-yuangong1:before {
  content: "\e613";
}

.icon-baoming1:before {
  content: "\e726";
}

.icon-dizhixinxiguanli:before {
  content: "\e75b";
}

.icon-details:before {
  content: "\e61f";
}

.icon-baoming2:before {
  content: "\e621";
}

.icon-jiaxiaohuiyuan:before {
  content: "\e617";
}

.icon-jiaxiaozhanshi:before {
  content: "\e618";
}

.icon-icon_baomingtoupiao:before {
  content: "\e61c";
}

.icon-weizhi4:before {
  content: "\e628";
}

